.header-search {
  margin-top: 3rem;
  text-align: center; }

.nav-search {
  background-color: blue; }

.searchLayout {
  margin-top: 3.5rem;
  text-align: right; }

.search-text {
  text-align: right; }

.serarch-text-right {
  text-align: right;
  color: grey; }

.text-charityName {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem; }

.search-image {
  left: 10%;
  position: relative; }

.setBackgroundserach {
  background-color: #f1f1f3;
  margin-top: 4rem; }

.header-searchpannel {
  position: relative;
  right: 2rem;
  margin-top: 1rem;
  color: grey; }

.nav-text-color {
  color: white; }
