$background-color : #F5F5F5;
$font-color : #999999;


@font-face {
    font-family: shabnam;
    src: url(../../fonts/Shabnam.ttf);
  }


  @font-face{
      font-family: shabnam_bold;
      src: url(../../fonts/Shabnam-Bold.ttf);
  }

*{
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.7;
    font-family: shabnam;
}


.contain {
    background-color: $background-color;
    position: absolute;
    width: 35rem;
    height: 35rem;
    top:3.8rem;
    right: 9rem;
    box-shadow: 0rem .5rem .5rem rgba(0, 0, 0, .5);

}

.head{
    text-align: center;
    background-color: $background-color;
    font-family: shabnam_bold;    
    font-size: 2rem;
    top:3rem;
    margin-top: .5rem;
}



#date{
    top:8rem;
    right:1.5rem;
    float: right;
    background-color: $background-color;
    position: absolute;
    color: $font-color;

}

#getStuff {
    top :22rem;
    right:1.5rem;
    float: right;
    background-color: $background-color;
    position: absolute;
    color: $font-color;

}

#otherCenter {
    
        top :27rem;
        right:1.5rem;
        float: right;
        background-color: $background-color;
        position: absolute;
        color: $font-color;
    
    
}

.top{
    margin-top: 2.5rem;
}

.labeling {
    border: 0px;
    box-shadow: 0px 1px 1px rgba(0,0,0,.2);
    text-align: right;
    float: right;
}

.checkbox_top{
    margin-top: 1.5rem;
}
.title_top {
    margin-top: .5rem;
    margin-bottom: .1rem;
}
.title{
    margin-bottom: 0%;
    text-align: right;
    float: right;
    
    // top:2.7rem;
    // right:1.5rem;
    // float: right;
    background-color: $background-color;
    // position: absolute;
    color: $font-color;
   
}

.color{
    background-color: $background-color;
}

input {
    &:focus {
        background-color: #ddd;
        outline: none;
    }
    width: 100%;
    padding: 10px;
    border: none;   
    border-radius: 8px;
    
  }



 .picture{
    background-image: url(../../assets/register.png);
    background-repeat: no-repeat;
    height: 25rem;
    top:8rem;
    left:8rem;
    position: relative;
 }
 

 .button_1{
     cursor: pointer;
    //  left: 0.8rem;
     padding:.3rem;
     color: $background-color;
     border-radius: 5px;
    //  position: absolute;
     background-color: #5084D2;
    //  top:31rem;
     width: 100%;
     border: none;
     
 }


 .button_2{
    cursor: pointer;
    padding:.3rem;
    color: $background-color;
    border-radius: 5px;
    position: absolute;
    background-color: #50D282;
    top:31rem;
    width: 95%;
    border: none;
    
}


.button_0{
    // left: 0.8rem;
    padding:.3rem;
    color: $background-color;
    border-radius: 5px;
    // position: absolute;
    background-color:grey;
    // top:31rem;
    width: 100%;
    border: none;

}

.button_3{
    padding:.3rem;
    color: $background-color;
    border-radius: 5px;
    position: absolute;
    background-color: grey;
    top:31rem;
    width: 95%;
    border: none;

}

#toggle_1 {
    /* opacity 0 so that it can be read by screen readers */
    opacity: 0;
    &:checked ~ #label_1 #switch_1 {
        background: #13e76c;
        transform: translatex(2.1em);
        transition: transform 0.2s ease-in;
    }
  }



#label_1 {
    top: 27rem;
    left: 2.2rem;
    display: block;
    position: absolute  ;
    background: rgb(212, 202, 202);
    width: 4em;
    height: 1.85em;
    border-radius: 0.01em;
    cursor: pointer;
    
    
}
  

#switch_1 {
    position: absolute;
    width: (0.9 * 2)*1em;
    height: (0.9 * 2)*1em;
    margin-top: 0.05em;
    margin-left: 0.05em;
    border-radius: 0.1em;
    background: #e94634;
    box-shadow: 5px 0px 28px -9px rgba(0, 0, 0, 0.75);
    transition: transform 0.2s ease-in;
}


